.button_custom{
    color: white;
    font-weight: 600;
    font-size: 13px;
    font-family: "Paperlogy";
    border: none;
    padding: 5px;
    min-width: 90px;
    border-radius: 5px;
    margin-left: 10px;
    align-content: center;
}