.MyTeamItem{
    width: 200px;
    color: black;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-self: left;
    margin-bottom: 20px;
    cursor: pointer;
}

.team_profile{
    width: 30px;
    height: 30px;
    background-color: #d8d8d8;
    border: 1px solid #D0D0D0;
    border-radius: 20px;
    margin-right: 10px;
}